<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<suite name="SwagLabsAutomatonSuite" parallel="classes" >
    <listeners>
        <listener class-name="com.swagLabs.report.LogAndExtentListener" />
        <listener class-name="com.swagLabs.utils.RetryTransformer"/>
    </listeners>
    <test name="SwagLabsAutomatonTest">
        <classes>
            <class name="com.SwagLabs.test.LoginPageTest" />
            <class name="com.SwagLabs.test.ProductPageTest" />
            <class name="com.SwagLabs.test.CheckoutPageTest" />
        </classes>
    </test>
</suite>